{% extends 'analysis/base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'view-classifications' 'pending' %}">Classify</a></li>
      <li class="breadcrumb-item active">{{ header }}</a></li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h5>{{ header }}</h5>
    <br>
    <table class="table" id="classifications-table">
      <thead>
        <tr>
          <th class="col-1">ID</th>
          <th class="col-1">Source</th>
          <th class="col-1">Uploaded</th>
          <th class="col-1">Gene</th>
          <th class="col-3">Variant</th>
          <th class="col-1">Tumour type</th>
          <th class="col-1">Guidelines</th>
          <th class="col-3">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for c in classifications %}
        <tr>
          <td>{{ c.pk }}</td>
          <td><h4><span class="badge badge-secondary">{{ c.get_sample_info.source }}</span></h4></td>
          <td>{{ c.upload_date|date:"Y-m-d H:i" }}</td>
          <td>{{ c.variant.gene }}</td>
          <td>{{ c.variant.hgvs_c }}<br>{{ c.variant.hgvs_p }}</td>
          <td>{{ c.tumour_subtype }}</td>
          <td><h4><span class="badge badge-{{ c.guideline.somatic_or_germline|colour_by_guideline }} w-100">{{ c.guideline }}</span></h4></td>
          <td>
            {% if c.get_status == "Complete" %}
            <a class="btn btn-secondary w-100" href="{% url 'perform-classification' c.pk %}" role="button">Complete<br>&nbsp;</a>
            {% elif c.get_latest_check.user == None %}
            <a class="btn btn-primary w-100" href="{% url 'perform-classification' c.pk %}" role="button">{{ c.get_status }}<br>Pending - Assign to me</a>
            {% elif c.get_latest_check.user == request.user %}
            <div class="btn-group btn-block">
              <a class="btn btn-primary btn-block" href="{% url 'perform-classification' c.pk %}" role="button">{{ c.get_status }}<br>Assigned to me</a>
              <button type="button btn-block" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" data-toggle="modal" data-target="#unassign-modal-{{ c.pk }}">
                  Unassign
                </a>
              </div>
            </div>
            {% else %}
            <div class="btn-group btn-block">
              <a class="btn btn-primary btn-block disabled" href="{% url 'perform-classification' c.pk %}" role="button">{{ c.get_status }}<br>Assigned to {{ c.get_latest_check.user }}</a>
              <button type="button btn-block" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" data-toggle="modal" data-target="#unassign-modal-{{ c.pk }}">
                  Unassign
                </a>
              </div>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
</div>


<!-- Unassign modal -->
{% for c in classifications %}
<div class="modal fade" id="unassign-modal-{{ c.pk }}" tabindex="-1" role="dialog" aria-labelledby="unassign-modal-label-{{ c.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unassign-modal-label-{{ c.pk }}">Unassign analysis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <strong>Warning!</strong> Are you sure you want to continue?<br>
          Unassigning a user will reset any decisions and comments from the current check 
        </div>

        <table class="table table-sm table-striped table-hover">
          <tbody>
            <tr>
              <th>ID</td>
              <td>{{ c.pk }}</td>
            </tr>
            <tr>
              <th>Variant</td>
              <td>{{ c.variant.hgvs_c }} / {{ c.variant.hgvs_p }}</td>
            </tr>
            <tr>
              <th>Cancer type</td>
              <td>{{ c.tumour_subtype }}</td>
            </tr>
            <tr>
              <th>Guidelines</td>
              <td>{{ c.guideline }}</td>
            </tr>
            <tr>
              <th>Assigned to</td>
              <td>{{ c.get_latest_check.user }}</td>
            </tr>
          </tbody>
        </table>

        {% crispy c.unassign_form %}

      </div>
    </div>
  </div>
</div>
{% endfor %}


<script>
    $(document).ready( function() {

        // Inititialise DataTable
        $('#classifications-table').DataTable({
            paging: true,
            columns: [
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
            ],
            info: true,
            pageLength: 10,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            }
        });
    } );
</script>

{% endblock %}